
<h3>attribute-directive works!</h3>

<div class="mat-2 p-2 bg-secondry text-white rounded">
    <h1>Attribute Directive</h1>
    <p>*ngClass , *ngStyle...</p>
    <button class="btn btn-primary" [routerLink]="['/structrualDirective']">Go to Structural Directive</button>
</div>
<div class="row pt-3">
    <div class="col-3">
        <div  class="p-3 text-center " [ngClass]="div1BgColor">
            <h4>Div-1</h4>
        </div>
    </div>

    <div  class="col-3">
        <div  class=" p-3 text-center" [ngClass]="isDiv2Active ? 'bg-success' : 'bg-warning'"> 
            <h4>Div-2</h4>
        </div>
    </div>

    <div class="col-3">
        <div class="p-3 text-center" [ngClass]="num1==num2 ? 'bg-success' : 'bg-warning'">
            <h4>Div-3</h4>
        </div>
    </div>

    <div  class="col-3">
        <div class=" p-3 text-center" [ngClass]="isDiv4Active ? 'bg-success' : 'bg-warning'">
            <h4>Div-4</h4>
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="addRedClass()">Add Red</button>
        <button class="btn btn-primary mx-2" (click)="addBlueClass()">Add Blue</button>
    </div>

    <div class="col-3 text-center">
        <button class="btn btn-success" (click)="toggleDiv2Class()" [ngClass]="isDiv2Active ? 'bg-success' : 'bg-warning'">Toggle</button>
        
    </div>

    <div class="col-3">
        <div style="display: flex;align-items:center">
            <input type="text"  [(ngModel)]="num1" placeholder="Num 1" class="width-50">
            <input type="text"  [(ngModel)]="num2" placeholder="Num 2" class="width-50">
        </div>
    </div>

    <div class="col-3">
        <div style="display: flex;align-items:center">
            <input type="checkbox"  [(ngModel)]="isDiv4Active" class="width-50">
            
            <select class="width-50">
                <option value="">Select</option>
                <option value="true">USA</option>
                <option value="false">India</option>


            </select>
        </div>
    </div>

</div>

