<div class="grid text-center">
    <h2>Predefine Pipe</h2>
</div>
<div class="grid text-center">
    <div class="row">
        <div class="col-6">
            <h5>Before Pipe</h5>
        </div>
        <div class="col-6">
            <h5>After Pipe</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{firstName}}
        </div>
        <div class="col-6">
            {{firstName|uppercase}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{fullName}}
        </div>
        <div class="col-6">
            {{fullName|titlecase}}
        </div>
    </div>
</div>


<div class="grid text-center">
    <h2>Custom Pipe</h2>
</div>
<div class="grid text-center">
    <div class="row">
        <div class="col-6">
            Address
        </div>
        <div class="col-6">
            {{address|naPipe}}
        </div>
    </div>
</div>